{%- macro zookeeper_quorum(clustername) %}
{%- set comma = joiner(",") -%}
{%- for host in groups[clustername] if host in groups['zookeeper'] -%}
{{- comma() }}{{ hostvars[host]['hadoop_hostname']|default(hostvars[host]['inventory_hostname']) }}
{%- endfor -%}
{% endmacro -%}
