<?xml version="1.0"?>
<allocations>
    <defaultQueueSchedulingPolicy>drf</defaultQueueSchedulingPolicy>
    <queuePlacementPolicy>
        <rule name="specified" />
        <rule name="default" />
    </queuePlacementPolicy>
</allocations>
