[Unit]
Description=Yarn ResourceManager
Before=
After=network.target

[Service]
Type=simple
User=yarn
Group=hadoop
Environment=YARN_LOG_DIR=/var/log/yarn YARN_LOGFILE=yarn-resourcemanager.log YARN_ROOT_LOGGER=INFO,RFA 
ExecStart=/usr/bin/yarn resourcemanager
Restart=on-abort

[Install]
WantedBy=multi-user.target
