
# Tez specific configuration
export TEZ_CONF_DIR={{ tez_conf_dir }}

# Set HADOOP_HOME to point to a specific hadoop install directory
export HADOOP_HOME=${HADOOP_HOME:-/usr}

# The java implementation to use.
export JAVA_HOME={{ java_home }}
