[Unit]
Description=Zookeeper
Before=
After=network.target

[Service]
Type=forking
User=zookeeper
Environment=ZOO_LOG_DIR={{ zookeeper_data_dir }}/log JAVA_HOME={{ java_home }}
CHDIR= {{ zookeeper_data_dir }}
ExecStart=/usr/hdp/current/zookeeper-server/bin/zkServer.sh start
Restart=on-abort

[Install]
WantedBy=multi-user.target

