#!/bin/bash

# Set Storm specific environment variables here.

# The java implementation to use.
export JAVA_HOME={{ java_home }}

export STORM_CONF_DIR=/usr/hdp/current/storm-supervisor/conf
export STORM_HOME=/usr/hdp/current/storm-supervisor
