{% from "includes/templates/zookeeper_quorum.j2" import zookeeper_quorum with context %}
<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
    <property>
        <name>fs.defaultFS</name>
    <value>hdfs://{{ hadoop_cluster }}/</value>
    </property>
{% if 'hdfs-namenode' in group_names %}
   <property>
       <name>ha.zookeeper.quorum</name>
       <value>{{ zookeeper_quorum(hadoop_cluster) }}</value>
   </property>
{% endif %}
    <property>
        <name>hadoop.proxyuser.mapred.groups</name>
        <value>*</value>
    </property>
    <property>
        <name>hadoop.proxyuser.mapred.hosts</name>
        <value>*</value>
    </property>
</configuration>
