[Unit]
Description=Mapred Historyserver
Before=
After=network.target

[Service]
Type=simple
User=yarn
Group=hadoop
Environment=HADOOP_MAPRED_LOG_DIR=/var/log/mapred HADOOP_MAPRED_LOGFILE=mapred-historyserver.log HADOOP_MAPRED_ROOT_LOGGER=INFO,RFA HADOOP_JHS_LOGGER=INFO,RFA
ExecStart=/usr/bin/mapred historyserver start
Restart=on-abort

[Install]
WantedBy=multi-user.target
